# Step 1: Import Libraries

In [94]:
import numpy as np

# Step 2: Simulate Dataset

In [95]:
# Set seed for reproducibility
np.random.seed(42)

# Sample data
job_titles = np.array(['Data Analyst', 'Data Scientist', 'Software Engineer', 'DevOps Engineer', 'UI/UX Designer', 'Product Manager', 'Cybersecurity Analyst',
                        'Mobile App Developer', 'AI/ML Engineer', 'Cloud Architect', 'Full-Stack Developer', 'Digital Marketer', 'Project Manager', 'Business Analyst',
                        'Big Data Engineer', 'Blockchain Developer', 'Software Architect', 'IT Project Manager', 'Information Security Manager', 'Machine Learning Architect'])
cities = np.array(['Lagos', 'Abuja', 'Port Harcourt', 'Enugu', 'Ibadan'])
employment_types = np.array(['Remote', 'On-site', 'Hybrid'])
experience_levels = np.array(['0-2 yrs', '3-5 yrs', '6-10 yrs', '10+ yrs'])

n = 200  # number of records

# Randomly assign fields
job_role = np.random.choice(job_titles, n)
city = np.random.choice(cities, n)
emp_type = np.random.choice(employment_types, n)
experience = np.random.choice(experience_levels, n)

# Salary ranges in NGN by job role
salary_ranges = {
    'Data Analyst': (200000, 800000),  # Entry to Senior Level
    'Data Scientist': (500000, 2000000),  # Entry to Senior Level
    'Software Engineer': (300000, 1500000),  # Entry to Senior Level
    'DevOps Engineer': (400000, 1250000),  # Entry to Senior Level
    'UI/UX Designer': (150000, 1200000),  # Entry to Senior Level
    'Product Manager': (300000, 2500000),  # Entry to Senior Level
    'Cybersecurity Analyst': (200000, 2000000),  # Entry to Senior Level
    'Mobile App Developer': (300000, 1000000),  # Entry to Senior Level
    'AI/ML Engineer': (500000, 2000000),  # Entry to Senior Level
    'Cloud Architect': (1250000, 2080000),  # Entry to Senior Level
    'Full-Stack Developer': (300000, 1000000),  # Entry to Senior Level
    'Digital Marketer': (100000, 1000000),  # Entry to Senior Level
    'Project Manager': (400000, 1500000),  # Entry to Senior Level
    'Business Analyst': (300000, 1000000),  # Entry to Senior Level
    'Big Data Engineer': (250000, 1000000),  # Entry to Senior Level
    'Blockchain Developer': (400000, 1250000),  # Entry to Senior Level
    'Software Architect': (500000, 1500000),  # Entry to Senior Level
    'IT Project Manager': (500000, 1500000),  # Entry to Senior Level
    'Information Security Manager': (600000, 1500000),  # Entry to Senior Level
    'Machine Learning Architect': (500000, 1500000),  # Entry to Senior Level
}


# Generate salary based on job role
salary = np.array([
    np.random.randint(*salary_ranges[job]) for job in job_role
])

# Step 3: Basic Summary Statistics

In [96]:
print(f"Average Salary: â‚¦{np.mean(salary):,.2f}")
print(f"Highest Salary: â‚¦{np.max(salary):,}")
print(f"Lowest Salary: â‚¦{np.min(salary):,}")

Average Salary: â‚¦918,560.54
Highest Salary: â‚¦2,149,396
Lowest Salary: â‚¦101,062

# Step 4: Top Paying Job Roles

In [97]:
for title in np.unique(job_titles):
    avg_sal = np.mean(salary[job_role == title])
    print(f"{title}: Average Salary = â‚¦{avg_sal:,.2f}")

AI/ML Engineer: Average Salary = â‚¦1,358,239.45
Big Data Engineer: Average Salary = â‚¦662,221.15
Blockchain Developer: Average Salary = â‚¦767,985.43
Business Analyst: Average Salary = â‚¦760,689.33
Cloud Architect: Average Salary = â‚¦1,751,636.14
Cybersecurity Analyst: Average Salary = â‚¦982,083.20
Data Analyst: Average Salary = â‚¦525,781.54
Data Scientist: Average Salary = â‚¦1,335,692.42
DevOps Engineer: Average Salary = â‚¦814,235.20
Digital Marketer: Average Salary = â‚¦635,208.57
Full-Stack Developer: Average Salary = â‚¦560,209.00
IT Project Manager: Average Salary = â‚¦1,078,145.60
Information Security Manager: Average Salary = â‚¦1,055,738.00
Machine Learning Architect: Average Salary = â‚¦817,187.30
Mobile App Developer: Average Salary = â‚¦595,727.27
Product Manager: Average Salary = â‚¦1,424,346.75
Project Manager: Average Salary = â‚¦1,106,210.88
Software Architect: Average Salary = â‚¦941,002.27
Software Engineer: Average Salary = â‚¦792,471.92
UI/UX Designer: Average Salary = â‚¦912,705.90

# Step 5: Experience Level Breakdown

In [98]:
for level in np.unique(experience_levels):
    exp_sal = np.mean(salary[experience == level])
    print(f"{level}: Avg Salary = â‚¦{exp_sal:,.2f}")

0-2 yrs: Avg Salary = â‚¦891,465.81
10+ yrs: Avg Salary = â‚¦961,619.16
3-5 yrs: Avg Salary = â‚¦976,242.09
6-10 yrs: Avg Salary = â‚¦846,980.89

### Ordering it based on experience levels

In [99]:
# Define the experience levels in the order you want
ordered_experience_levels = ['0-2 yrs', '3-5 yrs', '6-10 yrs', '10+ yrs']

print("ðŸ“Š Average Salary by Experience Level in Nigeria Tech Jobs\n")

for level in ordered_experience_levels:
    exp_sal = np.mean(salary[experience == level])
    print(f"{level:<8}: Average Salary = â‚¦{exp_sal:,.2f}")

ðŸ“Š Average Salary by Experience Level in Nigeria Tech Jobs

0-2 yrs : Average Salary = â‚¦891,465.81
3-5 yrs : Average Salary = â‚¦976,242.09
6-10 yrs: Average Salary = â‚¦846,980.89
10+ yrs : Average Salary = â‚¦961,619.16

### Ordering it based on average salary

In [100]:
# Step 1: Collect (experience level, average salary) pairs
exp_salaries = []
for level in np.unique(experience_levels):
    exp_sal = np.mean(salary[experience == level])
    exp_salaries.append((level, exp_sal))

# Step 2: Sort the list in descending order by average salary
exp_salaries.sort(key=lambda x: x[1], reverse=True)

# Step 3: Display results
print("Average Salary by Experience Level (Descending):")
for level, sal in exp_salaries:
    print(f"{level}: Avg Salary = â‚¦{sal:,.2f}")

Average Salary by Experience Level (Descending):
3-5 yrs: Avg Salary = â‚¦976,242.09
10+ yrs: Avg Salary = â‚¦961,619.16
0-2 yrs: Avg Salary = â‚¦891,465.81
6-10 yrs: Avg Salary = â‚¦846,980.89

# Step 6: City-Based Analysis

In [101]:
for city_name in np.unique(cities):
    city_sal = np.mean(salary[city == city_name])
    print(f"{city_name}: Avg Salary = â‚¦{city_sal:,.2f}")

Abuja: Avg Salary = â‚¦817,733.36
Enugu: Avg Salary = â‚¦919,468.86
Ibadan: Avg Salary = â‚¦858,999.53
Lagos: Avg Salary = â‚¦985,689.24
Port Harcourt: Avg Salary = â‚¦1,008,152.80

# Step 7: Employment Type Analysis

In [102]:
for etype in np.unique(emp_type):
    etype_sal = np.mean(salary[emp_type == etype])
    print(f"{etype}: Avg Salary = â‚¦{etype_sal:,.2f}")

Hybrid: Avg Salary = â‚¦920,124.82
On-site: Avg Salary = â‚¦942,099.41
Remote: Avg Salary = â‚¦900,766.50

# Step 8: Filter High-Paying Remote Roles

In [103]:
high_remote = (salary > 500000) & (emp_type == 'Remote')
print("High-paying Remote Roles:")
print(job_role[high_remote])
print(salary[high_remote])

High-paying Remote Roles:
['Machine Learning Architect' 'Mobile App Developer' 'DevOps Engineer'
 'Data Analyst' 'Digital Marketer' 'Digital Marketer'
 'Machine Learning Architect' 'Software Engineer' 'Cybersecurity Analyst'
 'IT Project Manager' 'IT Project Manager' 'AI/ML Engineer'
 'Cybersecurity Analyst' 'Business Analyst' 'DevOps Engineer'
 'Data Scientist' 'DevOps Engineer' 'Blockchain Developer'
 'Big Data Engineer' 'Business Analyst' 'Mobile App Developer'
 'Project Manager' 'IT Project Manager' 'Project Manager'
 'Project Manager' 'Digital Marketer' 'Full-Stack Developer'
 'Software Architect' 'Software Engineer' 'Data Analyst' 'UI/UX Designer'
 'Cybersecurity Analyst' 'Cybersecurity Analyst' 'Digital Marketer'
 'Data Scientist' 'Data Analyst' 'UI/UX Designer' 'UI/UX Designer'
 'Big Data Engineer' 'Software Engineer' 'UI/UX Designer'
 'Business Analyst' 'AI/ML Engineer' 'Cloud Architect' 'UI/UX Designer'
 'Big Data Engineer' 'Information Security Manager' 'Project Manager'
 'Product Manager' 'Software Engineer' 'Cybersecurity Analyst'
 'Product Manager' 'UI/UX Designer' 'Cloud Architect' 'AI/ML Engineer'
 'Machine Learning Architect' 'Digital Marketer' 'Data Scientist'
 'UI/UX Designer' 'Data Scientist' 'Product Manager' 'Product Manager'
 'Machine Learning Architect' 'Product Manager' 'Full-Stack Developer'
 'Blockchain Developer' 'Data Analyst' 'Blockchain Developer'
 'Software Engineer' 'Machine Learning Architect'
 'Information Security Manager']
[ 753490  665340 1142729  794124  728861  529802  702846  966997 1463455
  863714 1401791 1428818 1359771  666824  549849 1722869  586717  583868
  909792  888579  510176 1314032  972930 1317559  789593  772108  566765
  758930 1104462  648874 1003499  830265 1878050  670559 1360120  631734
  815627  722203  516776  958956  681849  767010  886193 1985265  512920
  959913  712581 1302580 1244789  718034  956254 1333255 1147083 2012501
 1530117 1299666  625134 1116210 1104480 1653113 1915397 1905118  867436
  582272  685925 1166641  789833  701953  678892  505287  608512]

# Step 9: Find Roles That Pay Above Industry Average

In [104]:
overall_avg = np.mean(salary)
above_avg = job_role[salary > overall_avg]
unique_roles = np.unique(above_avg)

print("Roles with Salaries Above Industry Average:")
print(unique_roles)

Roles with Salaries Above Industry Average:
['AI/ML Engineer' 'Big Data Engineer' 'Blockchain Developer'
 'Business Analyst' 'Cloud Architect' 'Cybersecurity Analyst'
 'Data Scientist' 'DevOps Engineer' 'Digital Marketer'
 'IT Project Manager' 'Information Security Manager'
 'Machine Learning Architect' 'Mobile App Developer' 'Product Manager'
 'Project Manager' 'Software Architect' 'Software Engineer'
 'UI/UX Designer']

# Step 10: Identify Job Role with Highest Spread in Salaries

In [105]:
print("\nSalary Range per Role:")
for role in np.unique(job_titles):
    role_salaries = salary[job_role == role]
    spread = np.max(role_salaries) - np.min(role_salaries)
    print(f"{role}: Spread = â‚¦{spread:,}")

Salary Range per Role:
AI/ML Engineer: Spread = â‚¦965,954
Big Data Engineer: Spread = â‚¦717,022
Blockchain Developer: Spread = â‚¦721,639
Business Analyst: Spread = â‚¦297,012
Cloud Architect: Spread = â‚¦759,791
Cybersecurity Analyst: Spread = â‚¦1,610,389
Data Analyst: Spread = â‚¦520,438
Data Scientist: Spread = â‚¦1,401,423
DevOps Engineer: Spread = â‚¦764,939
Digital Marketer: Spread = â‚¦888,451
Full-Stack Developer: Spread = â‚¦570,818
IT Project Manager: Spread = â‚¦538,077
Information Security Manager: Spread = â‚¦886,135
Machine Learning Architect: Spread = â‚¦834,586
Mobile App Developer: Spread = â‚¦623,814
Product Manager: Spread = â‚¦1,567,124
Project Manager: Spread = â‚¦878,123
Software Architect: Spread = â‚¦866,345
Software Engineer: Spread = â‚¦773,808
UI/UX Designer: Spread = â‚¦665,535

# Step 11: Comparing Salary vs. Experience using Percentiles

This helps identify how salaries vary across experience levels in terms of statistical spread (25th, 50th, 75th percentiles).

In [106]:
print("Salary Percentiles by Experience Level:")
for level in np.unique(experience_levels):
    sal_by_exp = salary[experience == level]
    p25 = np.percentile(sal_by_exp, 25)
    p50 = np.percentile(sal_by_exp, 50)  # median
    p75 = np.percentile(sal_by_exp, 75)
    print(f"{level} â†’ 25th: â‚¦{p25:,.0f}, 50th (median): â‚¦{p50:,.0f}, 75th: â‚¦{p75:,.0f}")

Salary Percentiles by Experience Level:
0-2 yrs â†’ 25th: â‚¦586,717, 50th (median): â‚¦810,736, 75th: â‚¦1,113,157
10+ yrs â†’ 25th: â‚¦639,924, 50th (median): â‚¦907,689, 75th: â‚¦1,193,759
3-5 yrs â†’ 25th: â‚¦512,920, 50th (median): â‚¦950,199, 75th: â‚¦1,333,255
6-10 yrs â†’ 25th: â‚¦600,188, 50th (median): â‚¦728,861, 75th: â‚¦1,070,912

# Step 12: Correlation Between Job Role and Salary using Group Averages

This reveals which job roles command higher or lower average salaries.

In [107]:
job_avg_salaries = []
for role in np.unique(job_role):
    avg = np.mean(salary[job_role == role])
    job_avg_salaries.append((role, avg))

# Sort descending by average salary
job_avg_salaries.sort(key=lambda x: x[1], reverse=True)

print("\nAverage Salary by Job Role (Descending):")
for role, avg in job_avg_salaries:
    print(f"{role}: â‚¦{avg:,.0f}")

Average Salary by Job Role (Descending):
Cloud Architect: â‚¦1,751,636
Product Manager: â‚¦1,424,347
AI/ML Engineer: â‚¦1,358,239
Data Scientist: â‚¦1,335,692
Project Manager: â‚¦1,106,211
IT Project Manager: â‚¦1,078,146
Information Security Manager: â‚¦1,055,738
Cybersecurity Analyst: â‚¦982,083
Software Architect: â‚¦941,002
UI/UX Designer: â‚¦912,706
Machine Learning Architect: â‚¦817,187
DevOps Engineer: â‚¦814,235
Software Engineer: â‚¦792,472
Blockchain Developer: â‚¦767,985
Business Analyst: â‚¦760,689
Big Data Engineer: â‚¦662,221
Digital Marketer: â‚¦635,209
Mobile App Developer: â‚¦595,727
Full-Stack Developer: â‚¦560,209
Data Analyst: â‚¦525,782

# Step 13: Simulating Gender Breakdown and Computing Gender Pay Gap

Let's randomly assign gender, then compute average salaries by gender and the gap.

In [108]:
# Simulate gender array
genders = np.random.choice(['Male', 'Female'], n)

# Compute average salary by gender
male_avg = np.mean(salary[genders == 'Male'])
female_avg = np.mean(salary[genders == 'Female'])

pay_gap = male_avg - female_avg
pay_gap_percent = (pay_gap / male_avg) * 100

print("\nGender Pay Analysis:")
print(f"Average Salary (Male): â‚¦{male_avg:,.2f}")
print(f"Average Salary (Female): â‚¦{female_avg:,.2f}")
print(f"Pay Gap: â‚¦{pay_gap:,.2f} ({pay_gap_percent:.2f}% difference)")

Gender Pay Analysis:
Average Salary (Male): â‚¦952,775.62
Average Salary (Female): â‚¦880,743.87
Pay Gap: â‚¦72,031.75 (7.56% difference)

# Step 14: Classify Salaries into Categories (Low, Mid, High)

This helps segment salaries for better interpretation and possible targeting strategies.

In [109]:
# Define salary thresholds (these can be customized)
low_thresh = 300000
high_thresh = 600000

# Classify each salary
salary_categories = np.where(salary < low_thresh, 'Low',
                     np.where(salary <= high_thresh, 'Mid', 'High'))

# Count by category
unique, counts = np.unique(salary_categories, return_counts=True)

print("\nSalary Category Distribution:")
for cat, count in zip(unique, counts):
    print(f"{cat}: {count} jobs")

Salary Category Distribution:
High: 146 jobs
Low: 6 jobs
Mid: 48 jobs